* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/Img/2948686.jpg");
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
}

.logo {
    flex: 1;
    color: red;
}

nav {
    flex: 5;
}

    nav > ul {
        display: flex;
        justify-content: space-evenly;
    }

        nav > ul > li {
            list-style: none;
        }

            nav > ul > li > a {
                text-decoration: none;
                color: white;
            }


a {
    font-family: Monaco;
    font-size: 1.3rem;
}

a:active {
    color: red;
}

    .content {
        color: white;
        text-align: center;
    }


.hero {
    display: flex;
    justify-content: left;
    margin-top: 150px;
    margin-left: 10px;
    color: white;
    background-color: rgba(37, 38, 37, 0.404);
}

.left {
    flex: 2;
}

.middle {
    flex: 2;
}

.right {
    flex: 2;
}

.hero > div > h3 {
    font-size: 1.7rem;
    color: red;
    border-bottom: 1px black solid;
}

.hero > div > ul  {
    margin-top: 15px;
}

.hero > div > ul > li {
    padding:2px;
    list-style: none;
}

    .hero > div > ul > li > a {
        text-decoration: none;
        color: white;
    }

    .hero > div > ul > li > a:hover {
        background: green;
        cursor: pointer;
    }



footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: red;
}
