* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/Img/2948686.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
}

.logo {
    flex: 1;
    color: red;
}

nav {
    flex: 5;
}

    nav > ul {
        display: flex;
        justify-content: space-evenly;
    }

        nav > ul > li {
            list-style: none;
        }

            nav > ul > li > a {
                text-decoration: none;
                color: white;
            }

                nav > ul > li > a > i {
                    color: white;
                }

a {
    font-family: Monaco;
    font-size: 1.3rem;
}

    a:active {
        color: red;
    }

.fa-briefcase-medical {
    color: red;
}

.content {
    color: white;
    text-align: center;
}

.container {
    display: flex;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drform {
    width: 100%;
}


.drinput ,select, textarea {
    color: red;
    font-size: 18px;
}

    .drinput::placeholder {
        color: white;
        font-size: 18px;
    }

.drinput {
    width: 400px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    background: #262626;
    border: 1px solid black;
}

.drbutton {
    height: 50px;
    width: 100px;
    color: red;
    background: #262626;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}

.drform > p {
    font-size: 40px;
}

.fa-temperature-low{
    font-size:28px;
    color:red;
}

.hero {
    display: flex;
    justify-content: left;
    margin-top: 150px;
    margin-left: 10px;
    color: white;
    background-color: rgba(37, 38, 37, 0.704);
}

.left {
    flex: 2;
}

.middle {
    flex: 2;
}

.right {
    flex: 2;
}

.hero > div > h3 {
    font-size: 1.7rem;
    color: red;
    border-bottom: 1px black solid;
}

.hero > div > ul {
    margin-top: 15px;
}

    .hero > div > ul > li {
        padding: 2px;
        list-style: none;
    }

        .hero > div > ul > li > a {
            text-decoration: none;
            color: white;
        }

            .hero > div > ul > li > a:hover {
                background: green;
                cursor: pointer;
            }


footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: red;
    background: #191919 !important;
}

.scrollBox {
    height: 900px;
}




#load {
    position: absolute;
    width: 600px;
    height: 56px;
    font-size: 28px;
    text-shadow: 7px 7px #040404;
    font-family: monospace;
    left: 50%;
    top: 15%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

    #load div {
        position: absolute;
        width: 40px;
        height: 36px;
        opacity: 0;
        font-family: Helvetica, Arial, sans-serif;
        animation: move 2s linear infinite;
        -o-animation: move 2s linear infinite;
        -moz-animation: move 2s linear infinite;
        -webkit-animation: move 2s linear infinite;
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        color: #ff0202;
    }

        #load div:nth-child(2) {
            animation-delay: 0.2s;
            -o-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            -webkit-animation-delay: 0.2s;
        }

        #load div:nth-child(3) {
            animation-delay: 0.4s;
            -o-animation-delay: 0.4s;
            -webkit-animation-delay: 0.4s;
            -webkit-animation-delay: 0.4s;
        }

        #load div:nth-child(4) {
            animation-delay: 0.6s;
            -o-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            -webkit-animation-delay: 0.6s;
        }

        #load div:nth-child(5) {
            animation-delay: 0.8s;
            -o-animation-delay: 0.8s;
            -moz-animation-delay: 0.8s;
            -webkit-animation-delay: 0.8s;
        }

        #load div:nth-child(6) {
            animation-delay: 1s;
            -o-animation-delay: 1s;
            -moz-animation-delay: 1s;
            -webkit-animation-delay: 1s;
        }

        #load div:nth-child(7) {
            animation-delay: 1.2s;
            -o-animation-delay: 1.2s;
            -moz-animation-delay: 1.2s;
            -webkit-animation-delay: 1.2s;
        }

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(90deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }
}

@-moz-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-o-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}


body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #191919; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: red; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #191919; /* creates padding around scroll thumb */
}
