@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script type="text/javascript" src="/js/JavaScript.js"></script>
}
    <div id="load">
        <div>E</div>
        <div>G</div>
        <div>N</div>
        <div>A</div>
        <div>R</div>
        <div>T</div>
        <div>S</div>
    </div>
    <footer>
        <span>@DateTime.Now.ToString("yyyy-MM-dd") &copy; DeadlyScarab</span>
    </footer>