@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="hero">
    <div class="left">
        <h3>C#</h3>
        <ul>
            <li><a href="https://github.com/MarcoJankovic/ImprovedCalculator.git">Calculator</a></li>
            <li><a href="https://github.com/MarcoJankovic/Exercises.git">Exercises</a></li>
            <li><a href="https://github.com/MarcoJankovic/HangMan.git">Hangman</a></li>
            <li><a href="https://github.com/MarcoJankovic/Learning-Exercises-1-28.git">Exercises 1-28</a></li>
            <li><a href="https://github.com/MarcoJankovic/DungeonWar.git">Dungeon War</a></li>
            <li><a href="https://github.com/MarcoJankovic/Todo.git">Todo</a></li>
            <li><a href="https://github.com/MarcoJankovic/VendingMachinery.git">Vending Machine</a></li>
        </ul>
    </div>
    <div class="middle">
        <h3>Html&Css</h3>
        <ul>
            <li><a href="https://github.com/MarcoJankovic/HTML-CSS-1.git">Html & Css 1</a></li>
            <li><a href="https://github.com/MarcoJankovic/HTML-CSS-2.git">Html & Css 2</a></li>
        </ul>
    </div>
    <div class="right">
        <h3>Javascript</h3>
        <ul>
            <li><a href="https://github.com/MarcoJankovic/Todo-Lexicon-Assignment-JS.git">Todo</a></li>
        </ul>
    </div>
    <div class="scrollBox"></div>
</div>
